.bar {
    background-color: #000077;
    height: 12px;
    border-right: 1px solid black;
}

.bar_box {
    text-align:left;
    display: block;
    background-color:#CCCCCC;
    width: 150px;
    border: 1px solid black;
    margin: 3 3 3 3;
}

.percent {
    font-family:arial;
    font-size: 9px;
    color: #555555;
    text-align:left;
}

.poll_box {
    border: 1px solid black;
    background-color: #EFEFEF;
    width: 158;
    /* height: 250; */
    padding: 8 8 8 8;
    margin: 5 5 5 5;
}

.title {
    font-family:arial;
    font-size: 14px;
    color: black;
    text-align:center;
}

.question {
    font-family:arial;
    font-size: 10px;
    color: black;
    text-align:center;
}

.choice {
    font-family:arial;
    font-size: 12px;
    color: black;
    text-align:center;
    border: 1px solid black;
    padding: 4px;
    margin: 4px
}    

.total {
    font-family:arial;
    font-size: 14px;
    color: black;
    text-align:center;
}
